---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import Blog from "../layouts/Blog.astro";
import { SITE_TITLE } from "../consts";

const posts: CollectionEntry<"posts">[] = await getCollection("posts");
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<Blog title={`首页 - ${SITE_TITLE}`}>
  <div class="prose prose-stone mx-auto">
    <div class="mt-8 space-y-4">
      <h2 class="text-xl font-semibold">最新文章</h2>
      <ul class="list-disc list-inside space-y-2 text-stone-600">
        {
          posts.map((post) => (
            <li>
              <a
                href={`/post/${post.slug}`}
                class="hover:underline hover:text-stone-900 transition-colors"
              >
                {post.data.title}
              </a>
              <span class="text-sm text-stone-400 ml-2">
                {post.data.pubDate.toLocaleDateString("zh-CN")}
              </span>
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</Blog>
