---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import Blog from '../layouts/Blog.astro'
import { SITE_TITLE, PAGE_SIZE } from '../consts'
import { Icon } from 'astro-icon/components'
import PostList from '../components/PostList.astro'

const posts: CollectionEntry<'posts'>[] = await getCollection('posts')
posts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
---

<Blog title={`首页 - ${SITE_TITLE}`}>
  <div class="mt-6 flex flex-col gap-10">
    <h2 class="text-3xl font-bold border-b border-stone-200 mb-4">最新文章 - 首页</h2>
    <PostList posts={posts.slice(0, PAGE_SIZE)} />
    <div class="flex flex-row mt-auto">
      {
        posts.length > PAGE_SIZE && (
          <a
            class="text-lg text-stone-800 font-mono shrink-0 flex items-center gap-1 ml-auto hover:text-stone-400 transition-colors group"
            href="/page/2"
          >
            下一页
            <Icon
              name="lucide:arrow-right"
              class="size-5 transition-transform group-hover:translate-x-1"
            />
          </a>
        )
      }
    </div>
  </div>
</Blog>
